proxmox_api_url   = "https://<proxmox-host>:8006/api2/json"
proxmox_api_user  = "terraform@pve!terraform-token"
proxmox_api_token = "CAMBIAR_POR_TOKEN_REAL"
proxmox_password  = "CAMBIAR_POR_PASSWORD_ROOT_SSH"
