cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ elasticsearch_node_name }}
network.host: 0.0.0.0
http.port: 9200
discovery.type: single-node
xpack.security.enabled: {{ 'true' if elasticsearch_security_enabled else 'false' }}